body {
  font-family: Georgia serif;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

p {
  font-size: 14pt;
}

#content {
  max-width: 800px;
  margin: auto;
  padding-top: 30px;
}

#wcbarwrapper {
  border: solid #888 3px;
  border-radius: 6px;
  height: 30px;
  overflow: hidden;
  width: 100%;
}

#wcbar {
  background-color: #0680FF;
  height: 100%;
  -webkit-transition: width 1s, -webkit-transform 1s; /* Safari */
  transition: width 1s, ease-out 1s;
  width: 0;
}

#textarea {
  border: none;
  display: inline-block;
  font-size: 18pt;
  font-family: Georgia serif;
  height: 800px;
  line-height: 1.5;
  resize: none;
  width: 100%;
}
